<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Qui suis-je ?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Né en 2001, j'ai suivi un enseignement secondaire général sans encombres. Après la réussite du CESS et
          l'obtention du prix de l'originalité, je suis parti 9 mois en immersion à Vancouver (Canada) afin d'obtenir
          le niveau C1 en anglais.</p>
      </div>
      <div class="col-lg-4">
        <p>J'ai ensuite entrepris un bachelier en Automatisation pour lequel j'ai obtenu la plus grande distinction
          et je suis actuellement en deuxième année d'un Master en Architecture des Systèmes Informatiques. En plus
          de ce master, je suis une formation de Techniques Immersives (VR/AR) pour Unreal Engine.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href=https://docdro.id/I69HyW0 class="btn btn-lg btn-outline">
          <i class="fa-solid fa-file-pdf"></i> Consulter mon CV
        </a>
      </div>
    </div>
  </div>
</section>
